{% extends "blog/post_archive.html" %}

{% block page_title %}
{{ object.title }} | {{ object.blog.name }} {{ block.super }}
{% endblock %}

{% block header %}
<h1>{{ object.title }}</h1>
{% endblock %}

{% block main %}
{{ object.body|linebreaks }}
<aside>
	{{ object.publish_at }}
	<ul>
		{% for tag in object.tags.all %}
		<li>{{ tag }}</li>
		{% endfor %}
	</ul>
	<a href="{{ object.blog.get_absolute_url }}">Back to post list</a>
</aside>
<nav>
	{% with object.get_previous_by_publish_at as prev %}
		{% if prev and prev.is_visible %}
		<a href="{{ prev.get_absolute_url }}">
			&lt; {{ prev }}</a>
		{% endif %}
	{% endwith %}
	{% with object.get_next_by_publish_at as next %}
		{% if next and next.is_visible %}
		<a href="{{ next.get_absolute_url }}">
			{{ next }} &gt;</a>
		{% endif %}
	{% endwith %}
</nav>
{% endblock %}
