{% extends "blog/base.html" %}

{% block page_title %}{{ month|date:"F" }} | {{ block.super }}{% endblock %}

{% block main %}
<section>
	<aside>
		<ol class="dates">
			<li>
				<a href="{% url month blog.slug previous_month|date:"Y" previous_month|date:"m" %}">
					{{ previous_month|date:"F" }}</a>
			</li>
			{% if next_month %}
			<li>
				<a href="{% url month blog.slug next_month|date:"Y" next_month|date:"m" %}">
					{{ next_month|date:"F" }}</a>
			</li>
			{% endif %}
		</ol>
	</aside>
	<h2>Posts for {{ month|date:"N, Y" }}</h2>
	<ul>
		{% for post in object_list %}
		<li>
			<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
			{{ post.publish_at|date }}
			{{ post.excerpt|linebreaks }}
		</li>
		{% endfor %}
	</ul>
</section>
<nav>
	<a href="{{ blog.get_absolute_url }}">Back to post list</a>
</nav>
{% endblock %}
